<todo-component
        todos="$ctrl.todos"
        saving="$ctrl.saving"
        new-todo="$ctrl.newTodo"
        all-checked="$ctrl.allChecked"
        remaining-count="$ctrl.remainingCount"
        completed-count="$ctrl.completedCount"
        status="$ctrl.status"
        status-filter="$ctrl.statusFilter"
        edited-todo="$ctrl.editedTodo"
        mark-all="$ctrl.markAll"
        clear-completed-todos="$ctrl.clearCompletedTodos"
        toggle-completed="$ctrl.toggleCompleted"
        edit-todo="$ctrl.editTodo"
        remove-todo="$ctrl.removeTodo"
        save-edits="$ctrl.saveEdits"
        add-todo="$ctrl.addTodo"
></todo-component>
